version: "3.8"
services:
      
  server:
    environment:
      # Change Language:
      # (Supports: en, ua, ru, tr, no, pl, fr, de, ca, es, ko, vi, nl, is, pt, chs, cht, it, th)
      LANG: en
      # ⚠️ Required:
      # Change this to your host's public address
      WG_HOST: ${APP_DOMAIN}
      # Optional:
      # PASSWORD: ${APP_PASSWORD}
      PASSWORD_HASH: ${APP_PASSWORD_HASH}
      # - WG_PORT=51820
      # - WG_DEFAULT_ADDRESS=10.8.0.x
      WG_DEFAULT_DNS: 10.0.1.10
      WG_PERSISTENT_KEEPALIVE: 60
      # - WG_MTU=1420
      WG_ALLOWED_IPS: 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16
      # - WG_PERSISTENT_KEEPALIVE=25
      # - WG_PRE_UP=echo "Pre Up" > /etc/wireguard/pre-up.txt
      # - WG_POST_UP=echo "Post Up" > /etc/wireguard/post-up.txt
      # - WG_PRE_DOWN=echo "Pre Down" > /etc/wireguard/pre-down.txt
      # - WG_POST_DOWN=echo "Post Down" > /etc/wireguard/post-down.txt
      UI_TRAFFIC_STATS: 1

    image: ghcr.io/wg-easy/wg-easy:14
    container_name: wg-easy
    volumes:
      - "${APP_WGEASY_DATA_DIR}:/etc/wireguard"
    ports:
      - "${APP_WGEASY_SRV_PORT}:51820/udp"
      - "${APP_WGEASY_UI_PORT}:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
